#highlight {
    background-color: lightyellow;
}

#highlight-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88vw;
    margin: auto;
}

#highlight-header > p {
    font-size: 2.5vw;
    font-weight: bold;
}

#highlight-header > input {
    height: fit-content;
    padding: 0.8vw;
    border-radius: 10px;
    font-size: 1.3vw;
    font-weight: bold;
    background-color: #F4CE14;
}

#cards {
    display: flex;
    justify-content: center;
    width: 88vw;
    margin: auto;
    flex-wrap: wrap;
    /* width: 100%; */
}

@media (max-width: 1023px) {
    #highlight-header > p {
        font-size: 5vw;
    }

    #highlight-header > input {
        font-size: 3vw;
    }
}