/* nav {
    width: 50vw;
    margin: auto;
} */

#navigation {
    background-color: lightyellow;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* margin-top: 1vw; */
    padding: 1vw;
}

#navigation > img {
    width: 3vw;
    max-width: 300px;
    min-width: 200px;
    margin-left: 5%;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#navigation > ul > li > a {
    font-size: 1.8vw;
}

#navigation > ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex: 1;
    /* margin-left: 1vw; */
}

#navigation > ul > li {
    font-size: min(7vw, 24px);
    margin: 0 25px;
}

@media (max-width: 1023px) {
    #navigation {
        flex-direction: column;
    }

    #navigation > img {
        margin-left: 0;
    }

    #navigation > ul {
        width: 100%;
        flex-direction: column;
        background-color: yellow;
    }

    #navigation > ul > li {
        /* padding: 0 100%; */
        /* width: 100%; */
        margin: 10px 0;
        font-size: max(4vw, 16px);
    }

    #navigation > ul > li > a {
        font-size: 4.5vw;
    }
}
