#review {
    display: flex;
    flex-direction: column;
}

#star {
    width: 30px;
    min-width: 15px;
}

#user-image {
    width: 200px;
    min-width: 50px;
    max-width: 200px;
    margin-top: 0.5vw;
}

#user-img-name {
    display: flex;
    align-items: center;
    gap: 2vw;
}

#review-description {
    font-size: 1.3vw;
    width: 20vw;
    min-width: 100px;
    color: #495E57;
}

@media (max-width: 1023px) {
    #review-description {
        width: 100%;
        font-size: 3vw;
    }
}