#review {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#star {
    width: 30px;
    min-width: 15px;
}

#user-image {
    width: 200px;
    min-width: 50px;
    max-width: 200px;
    margin-top: 0.5vw;
}

#user-img-name {
    display: flex;
    align-items: center;
    gap: 2vw;
}

#review-description {
    font-size: 1.3vw;
    width: 20vw;
    min-width: 100px;
    color: #495E57;
}

@media (max-width: 1023px) {
    /* #review {
        align-items: center;
    } */

    /* #user-star-img-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

    /* #review-description {
        text-align: center;
    } */

    #review-description {
        width: 100%;
        font-size: 3vw;
    }
}