header {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
}

img {
    /* border: 1px solid; */
    /* display: block; */
    max-width: 150px;
    max-height: 50px;
    margin: 20px auto;
}
