#container {
    display: flex;
    background-color: #495E57;
}

#text {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    margin-left: 10%;
}

#text .last-element {
    margin-top: auto;
  }

#text > h2 {
    color: #F4CE14;
}

#text > h3 {
    margin-top: -15px;
    color: white;
}

#text > p {
    margin-top: 0;
    width: 45%;
    color: white;
}

#reserve-button {
    background-color: #F4CE14;
    border-radius: 8px;
    padding: 7px;
    font-weight: bold;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

#image {
    margin-right: 20%;
}

#image > img {
    transform: scale(5, 5);
    margin-top: 160px;
}